{% extends "anno/base.html" %}
{% block title %}
COIN COIN annotation tool
{% endblock %}

{% block misc %}
<style>
  .container-fluid {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -55%);
  text-align: center;
  line-height: 150px;
}
</style>
{% endblock %}

{% block navtab %}
	"help"
{% endblock %}

{% block content %}

<div class="container-fluid bg-1 text-center">
<h1>COIN COIN annotation tool</h1>

<h2> COIN 数据集</h2>
<h2> 标注规则 </h2>
<h2> 标注界面</h2>
<h2> 快捷键 </h2>
</div>
{% endblock %}

