
{% extends "anno/base.html" %}
{% block title %}
COIN COIN annotation tool
{% endblock %}

{% block misc %}
<style>
  .container-fluid#main {
  margin-top: 23%;
  line-height: 150px;
}
  .btn-primary{
	  width: 150px;
	  margin: 10px;
  }
</style>
{% endblock %}

{% block navtab %}
	"home"
{% endblock %}

{% block content %}

<div class="container-fluid bg-1 text-center" id="main">
<h1>COIN COIN annotation tool</h1>

<form action="{% url 'anno:start' %}" method="post">
{% csrf_token %}
<button class="btn btn-primary" type="submit" name="submit", value="continue">
	Continue
</button>
<button class="btn btn-primary" type="submit" name="submit", value="new">
	Start new
</button>
</form>
</div>
{% endblock %}

