{% extends "humantest/base.html" %}
{% load static %}

{% block title %}
  COIN COIN Humantest
{% endblock %}

{% block misc %}

<script>
$(window).keydown(function(e) {
  switch (e.keyCode) {
    case 13: // enter
		  if ($("#pid").is(":focus")) {
			  var new_pid = $("#pid").val();
			  if ("{{id}}"!= new_pid)
				  window.location.replace("/humantest/" + $("#pid").val());
		  }
		  else
			  $('#submit').click();
      return false;
    case 65:
		  $('#c0').click();
      return false;
    case 66:
		  $('#c1').click();
      return false;
    case 67:
		  $('#c2').click();
      return false;
    case 68:
		  $('#c3').click();
      return false;
    default:
      break;
      return false;
  }
});
</script>

<style type="text/css" media="screen">
.question {
	width: 30%;
}

.choices {
	width: 200px;
}


#main {
	margin-top: 80px;
	padding-left: 5%;
	padding-right: 5%;
}

.btn-group {
	margin-right: 5%;
	padding: 5px;
}

#pid {
  width: 80px;
  text-align: center;
}

.fa-arrows {
  color: #aaa;
  height: 100%;
  width: 1rem;
}

.fa-arrows:hover {
  color: #222;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance:textfield;
}

/* Bootstrap Toggle v2.2.2 corrections for Bootsrtap 4*/
.toggle-off {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.toggle.off {
  border-color: rgba(0, 0, 0, .25);
}

.toggle-handle {
  background-color: white;
  border: thin rgba(0, 0, 0, .25) solid;
}
</style>
{% endblock %}

{% block navtab %}
  "qa"
{% endblock %}

{% block content %}
  <div class="container-fluid bg-1" id="main">
	  <div class="row">
		  <div class="col-sm-3">
			<h4>Problem id<br/>
			  <div class="vid-group">
				<a href="{% url 'humantest:qa' id|add:"-1"%}" id="prev_vid">
				  <span class="fas fa-caret-left fa-arrows"></span>
				</a>
				<small>
				  <input type="number" value="{{id}}" name="" id="pid" min="1" max="{{ num_problems }}"/>
				</small>
				<a href="{% url 'humantest:qa' id|add:"1"%}" id="next_vid">
				  <span class="fas fa-caret-right fa-arrows"></span>
				</a>
			  </div>
			</h4>
		  </div>
		 <div class="col-sm-6">
		  {% for q in question %}
			  {% with 'data/'|add:q as static_q%}
				  <img src="{% static static_q %}" class="img-fluid question">
			  {% endwith %}
		  {%endfor%}
		</div>
		<div class="col-sm-3">
		  <div class="btn-group">
			<button type="button" class="btn btn-info dropdown-toggle btn-edit disable" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				{{setting}}
			</button>
			  <div class="dropdown-menu">
				  {% for setting in settings %}
					  <a class="dropdown-item" href="{% url "humantest:start" setting phase %}">{{setting}}</a>
				{% endfor %}
			  </div>
		  </div>
		  <div class="btn-group">
			<button type="button" class="btn btn-info dropdown-toggle btn-edit disable" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				{{phase}}
			</button>
			  <div class="dropdown-menu">
				<a class="dropdown-item disabled" href="{% url "humantest:start" setting "train" %}">train</a>
				<a class="dropdown-item" href="{% url "humantest:start" setting "test" %}">test</a>
			  </div>
		  </div>
		</div>
	  </div>
    <div class="progress m-3">
      <div class="progress-bar" role="progressbar" style="width: {{ratio_finished}}%;" aria-valuemin="0" aria-valuemax="100">{{num_finished}} / {{num_qas}}</div>
    </div>
	  <form action="{% url 'humantest:choose' id %}" method="post">
	  {% csrf_token %}
		  {% for c in choices %}
			  <div class="form-check">
				  <label class="form-check-label">
					  <input type="radio" class="form-check-input" name="answer" value={{ forloop.counter0 }} id="c{{ forloop.counter0 }}">
					  {% for s in c|get_item:"gifs" %}
						  {% with 'data/'|add:s as static_s%}
							  <img src="{% static static_s %}" class="img-fluid choices mx-2 my-1">
						  {% endwith %}
					  {% endfor %}
				  </label>
			  </div>

		  {% endfor %}

	  <button class="btn btn-success btn-edit" type="submit" name="submit" id="submit">Submit</button>
	  </div>

	  </form>
  </div>
{% endblock %}
