{% extends "humantest/base.html" %}
{% load static %}

{% block title %}
  COIN COIN Annotation Tool
{% endblock %}

{% block misc %}
<style type="text/css" media="screen">
.question {
	width: 30%;
}

.choices {
	width: 200px;
}


#main {
	margin-top: 80px;
	padding-left: 5%;
	padding-right: 5%;
}
</style>
{% endblock %}

{% block navtab %}
  "dataset"
{% endblock %}

{% block content %}
  <div class="container-fluid bg-1" id="main">
	  <div class="row">
		  <div class="col-sm-2">
			  <h5>Question {{ id }}:</h5>
		  </div>
		 <div class="col-sm-5">
		  {% for q in question %}
			  {% with 'data/'|add:q as static_q%}
				  <img src="{% static static_q %}" class="img-fluid question">
			  {% endwith %}
		  {%endfor%}
		</div>
		<div class="col-sm-5">
		  <div class="btn-group">
			<button type="button" class="btn btn-info dropdown-toggle btn-edit disable" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				{{setting}}
			</button>
			  <div class="dropdown-menu">
				  {% for setting in settings %}
					  <a class="dropdown-item" href="{% url "humantest:start" setting phase %}">{{setting}}</a>
				{% endfor %}
			  </div>
		  </div>
		  <div class="btn-group">
			<button type="button" class="btn btn-info dropdown-toggle btn-edit disable" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				{{phase}}
			</button>
			  <div class="dropdown-menu">
				<a class="dropdown-item" href="{% url "humantest:start" setting "train" %}">train</a>
				<a class="dropdown-item" href="{% url "humantest:start" setting "test" %}">test</a>
			  </div>
		  </div>
		</div>
	  </div>
    <div class="progress m-3">
      <div class="progress-bar" role="progressbar" style="width: {{ratio_finished}}%;" aria-valuemin="0" aria-valuemax="100">{{num_finished}} / {{num_qas}}</div>
    </div>
	  <form action="{% url 'humantest:choose' id %}" method="post">
	  {% csrf_token %}
		  {% for c in choices %}
			  <div class="form-check">
				  <label class="form-check-label">
					  <input type="radio" class="form-check-input" name="answer" value={{ forloop.counter0 }}>
					  {% for s in c|get_item:"gifs" %}
						  {% with 'data/'|add:s as static_s%}
							  <img src="{% static static_s %}" class="img-fluid choices mx-2 my-1">
						  {% endwith %}
					  {% endfor %}
				  </label>
			  </div>

		  {% endfor %}

	  <button class="btn btn-success btn-edit" type="submit" name="submit">Submit</button>
	  </div>

	  </form>
  </div>
{% endblock %}
